
/*
** HTML elements
*/
body { margin: 0; padding: 0; background-color: #fff; font-family: "Arial", "Helvetica"; font-size: 12px; line-height: 23px; color: #525252;}
tr.odd td, tr.even td { padding: 0.3em;}
h3, h4, h5, h6 { margin-bottom: 0.5em;}
h3, h4, h5, h6 { font-size: 1.1em;}
p { margin: 0 0 10px 0;}
a { text-decoration: none;}
a:link { color: #38acd5;}
a:visited { color: #38acd5;}
a:hover { color: #38acd5; text-decoration: underline;}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links, .comment .links { margin-bottom: 0; margin-top: 5px;}

/*
** Page layout blocks / IDs
*/
ul.links li { border-left: 1px solid #9cf;}
ul.links li.first { border: 0; padding: 0;}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.box {
  padding: 0 0 1.5em 0; /* LTR */
}
.box .title {
  font-size: 1.1em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right; /* LTR */
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

.mholder { width: 865px; margin: 0 auto;}
h1.title, h2.title { margin: 0 0 5px 0;}
h1.title, h1.title a, h2.title, h2.title a { font-size: 16px; color: #424242; font-weight: bold;}

/* HEADER starts */
#authorize { width: 100%; height: 45px; background-color: #000; float: left;}
#authorize ul { margin: 15px 0 0 5px; padding: 0; float: right; display: inline;}
#authorize ul li { margin: 0 10px 0 0; padding: 0 0 0 10px; display: inline; list-style: none; float: left; border-left: 1px #5a5a5a solid;}
#authorize ul li.first { border: 0;}
#authorize ul li, #authorize ul li a { font-size: 11px; line-height: 13px; color: #fff;}
#authorize a.feed-icon { display: block; float: right; margin: 14px 0 0 0;}
#header { width: 100%; height: 135px; background-color: #f7f7f7; background-image: url('images/headerbg.png'); background-repeat: repeat-x; float: left;}
#header .mholder { height: 135px; background-image: url('images/header_custom.png'); background-repeat: no-repeat;}
#header .mholder.default { background-image: url('images/header.png');}
#logo { margin: 0 20px 0 0; float: left;}
#logo img { max-width: 200px; max-height: 115px; float: left; margin: 20px 0 0 0;}
.site-name { margin: 0; padding: 40px 25px 0 25px;}
.site-name, .site-name a { font-size: 45px; line-height: 45px; color: #000; font-style: italic; font-weight: bold; letter-spacing: -5px;}
.default .site-name, .default .site-name a { color: #fff;}
.site-name a:hover { text-decoration: none;}
.site-slogan { line-height: 14px; color: #777; padding: 0 29px;}
.default .site-slogan { color: #fafafa;}
#menu { width: 100%; height: 38px; background-color: #fafafa; background-image: url('images/menubg.png'); background-repeat: repeat-x; border-top: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; float: left;}
ul#navlist { width: 100%; margin: 12px 0 0 0; padding: 0; float: left;}
ul#navlist li { display: inline; margin: 0 13px 0 0; padding: 0 0 0 15px; list-style: none; border-left: 1px #c3c3c3 solid; float: left;}
ul#navlist li.first { border: 0; padding: 0;}
ul#navlist li, ul#navlist li a { line-height: 15px; color: #525252;}
/* HEADER ends */

/* MAIN CONTENT starts */
#content { width: 100%; background-image: url('images/contentbg.png'); background-repeat: repeat-x; padding: 10px 0; float: left;}
.breadcrumb { width: 100%; height: 35px; margin: 0 0 20px 0; float: left; border-bottom: 1px #b4b4b4 dashed;}
.breadcrumb, .breadcrumb a { font-size: 11px; line-height: 35px; color: #00a2d7;}
#main { width: 647px; float: left; margin: 7px 0 0 0;}
#main.fullwidth { width: 852px; float: left; margin: 7px 0 0 0;}
#main .block { width: 100%; float: left; margin: 0 0 20px 0; padding: 0;}
#precontent { width: 100%; float: left;}
#mission { width: 100%; background-image: url('images/missiontop.jpg'); background-repeat: no-repeat; background-color: #f7f7f7; margin: 5px 0 20px 0; float: left;}
#mission p { width: 100%; margin: 0 0 5px 0; padding: 0; float: left;}
.mission-buttons { margin: 5px 0 0 0; float: right;}
.mission-buttons a { display: block; height: 25px; float: left; font-size: 11px; line-height: 23px; color: #fff; font-weight: bold; text-transform: uppercase; text-align: center; margin: 0 0 0 8px; display: inline;}
.mission-buttons a.bblue { width: 133px; background-image: url('images/bblue.png'); background-repeat: no-repeat;}
.mission-buttons a.bgreen { width: 150px; background-image: url('images/bgreen.png'); background-repeat: no-repeat;}
.mission-buttons a:hover { text-decoration: none; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.mission-in { background-image: url('images/missionbot.jpg'); background-position: left bottom; background-repeat: no-repeat; padding: 15px 15px 15px 80px; float: left;}
#sidebar-right { width: 205px; float: right;}
#sidebar-right a { text-decoration: underline;}
#sidebar-right .block { width: 185px; border-bottom: 1px solid #bbb; padding: 0 10px 10px 10px; margin: 0 0 10px 0; float: left;}
.block img { float: left;}
.block ul { padding: 0 0 0 1.5em;}
.node { width: 100%; margin: 0 0 20px 0; padding: 0; float: left;}
.node.listed { padding: 0 0 15px 0; border-bottom: 1px #b4b4b4 dashed;}
.node .content, .comment .content { margin: 5px 0;}
.node .content { width: 100%; float: left;} 
.node .taxonomy { width: 100%; float: left;}
.node .taxonomy ul li { border: 0;}
.node .taxonomy ul li a { text-decoration: underline;}
.node .taxonomy ul li a:hover { text-decoration: underline; color: #555;}
.node div.links { width: 320px; float: left;}
.node div.links li, .node div.links li a { color: #525252;}
.listed .submitted { width: 320px; float: right; margin: 5px 0 0 0; text-align: right;}
.submitted, .submitted a { color: #d4d4d4;}
#comments { clear: both;}
.block-region { clear: both;}
/* MAIN CONTENT ends */

/* FOOTER starts */
#footer { width: 100%; float: left; background-color: #232323; padding: 30px 0;}
#footer h2.title, #footer h2.title a { color: #fff;}
#footer, #footer a { color: #d3d3d3;}
#footer a { text-decoration: underline;}
.footer-blocks { width: 100%; float: left; border-bottom: 1px #111 solid; padding: 0 0 20px 0;}
.footer-block { width: 180px; float: left; margin: 0 18px; display: inline;}
.footer-info { width: 835px; font-size: 11px; float: left; border-top: 1px #323232 solid; padding: 20px 15px 0 15px;}
.footer-message { width: 249px; float: left;}
#footer .footer-message, #footer .footer-message a { color: #c8c8c8;}
.copyright { float: right;}
.copyright strong {font-weight: normal;}
#footer .copyright, #footer .copyright a { color: #5a5a5a; text-decoration: none;}
#footer .copyright a:hover { text-decoration: underline;}
/* FOOTER ends */


/* comments starts */
.comment .submitted {color: #aaa; font-size: 10px;}
.comment .submitted a{color: #aaa;}
.comment {
  border-bottom: 1px solid #555;
  padding: 2em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment  a {color: #eee; text-decoration: underline;}
.comment h3.title a {color: #eee; font-weight: bold; text-decoration: none;}

.comment .picture {
  border: none;
  float: right; /* LTR */
  margin: 0.5em;
}

#comments {background-color: #333; color: #eee;}
/* comments ends */